@import 'style-import';
@import '../../style/step/goal-setting.card-detail';

// step4

// card-title-other on step4
:host ::ng-deep{
    app-ui-form-layout-col{
        ::ng-deep{
            app-ui-info-text2{
                &.margin-toptop .info-unit-block{
                    margin-top: -25px;
                }
                .info-unit-block{
                    ::ng-deep{
                        .text-block{
                            p{
                                text-align: center;
                                font-weight: bold !important;
                            }
                        }
                    }
                }
            }

        }
    }
}
// end: only step4