<!-- progressbar main-->
<div class="progress-bar-aims">
  <ul class="bar-aims-ul">
    <li class="bar-aims-li">
      <div class="progressbar-main-block">

        <div class="num-block">
          <div class="num-title">{{Language.FYFC | translate}}</div>
          <div class="num-value font-size_h2">{{ Percentages | numberFormat }}</div>
          <div class="num-unit">%</div>
        </div>

        <div class="progressbar-block">
          <app-ui-progress [styleSize]="'lg'" [value]="BarPercentagesLength" [flagValue]="0.6667" [flagText]="'100%'"></app-ui-progress>
        </div>

        <!-- btm value -->
        <div class="value-block">
          <div class="value-detail-block">
            <div class="side-value left-value">
              <span class="value-unit"></span>
              <span class="value-num">{{ ShowTotalActualValue | numberFormat }}</span>
            </div>
            <div class="mid-value">/</div>
            <div class="side-value right-value">
              <span class="value-unit"></span>
              <span class="value-num">{{ ShowTotalPlan | numberFormat }}</span>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>