@import 'style-import';

$arrow-size: 3px;
$arrow-weight: 2px;
$arrow-color: $color-grey5;
$arrow-space-text: 13px;
$arrow-pos: 0;
.progress-total-block{
    //chart
    .progress-chart-block{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
        position: relative;
        .arrow-block{
            position: absolute;
            flex-grow: 0;
            flex-shrink: 0;
            padding: 0;
            margin: 0;
            .text{
                color: $color-grey3;
                font-size: $font-size-h9;
                padding: 0;
                margin: 0;
            }
            &.prev-block{
                left: 0;
                .text{
                    padding-left: $arrow-space-text;
                }
                &:before{
                    position: absolute;
                    left: 0;
                    top: calc( 50% - #{$arrow-size} - #{$arrow-weight});
                    content: ' ';
                    @include arrowLeft($arrow-weight, $arrow-size, $arrow-color)  
                }
            }
            &.next-block{
                right: 0;
                .text{
                    padding-right: $arrow-space-text;
                }
                &:after{
                    position: absolute;
                    content: ' ';
                    right: 0;
                    top: calc( 50% - #{$arrow-size} - #{$arrow-weight});
                    @include arrowRight($arrow-weight, $arrow-size, $arrow-color)  
                }
            }
        }
        

    }
    .chart-block{
        color: $color-main2; 
        text-align: center;
        padding: 0 13px;
        .progress-total-unit{
            font-size: $font-size-h6;
            font-weight: bold;
            display: block;
            margin-bottom: 8px;
            color:$bg-color-main1;
        }
        .progress-total-value{
            font-size: $font-size-h6;
            font-weight: bold;
            color:$bg-color-main1;
            margin-bottom: 0;
        }

    }

    .text-block{
        text-align: center;
        padding-bottom: 10px;
        p{
            margin: 0;
            padding: 0;
            font-size: $font-size-h9;
            color: $bg-color-main1;
            line-height: 20px;
            font-weight: bold;
        }
    }

}
