@import 'style-import';

//top circle chart
@import 'progress-list-chart';
//list detail
@import 'progress-list-detail';

$space-side: 10px;

.progress-list-block{
    width: 100%;
    text-align: center;
    @media(min-width: $screen-lg-than-pad){
        width: $layout-sidemenu-wd;
        display: flex;
        flex-direction: column;
        height: 100%;
        .top-block{
            flex:none;
        }
        .btm-block{
            flex:1;
            overflow: auto;
        }
    }
    @media(min-width: $screen-lg-than-nb){
        width: caculate-vw($layout-sidemenu-wd);
    }
    button{
        border: none;
        background-color: transparent;
        box-shadow: none;
        outline: none;
    }
    .top-block{
        padding: $space-side;

    }
    .btm-block{
        background-color: $bg-color-grey1;
        padding: $space-side 0;
    }
}
