@import 'style-import';
@import '../../style/overview-style/goal-popup-setting.scss'; //popup


.title-main{
    padding: 0;
    margin: 0;
    font-size: $font-size-h2;
    color: $color-white;
    font-weight: bold;
    line-height: normal;
    max-width: 332px;
}
