<div class="progress-head-leader">
  
  <app-ui-content-b-gap [gapSize]="GAP_SIZE_40" *ngIf = "IsShowYearTab">
    <div class="tab-page">
      <app-ui-tab-page (onTabChildClick)="onZoneHeadYearEventTrigger($event)" 
                       [tabSwitchFirst]="TabStringList[0]" 
                       [tabSwitchSecond]="TabStringList[1]"
                       [openTab]="0" 
                       *ngIf = "IsShowYearTab">
                      </app-ui-tab-page>
    </div>
  </app-ui-content-b-gap>


  <app-ui-content-b-gap [gapSize]="GAP_SIZE_40">
    <app-ui-tab-style1 (onTabChildClick)="onZoneHeadTimeEventTrigger($event)" [maxShow]="4" [tabIndex]="0">
      <app-ui-tab-child>{{ Language.month | translate}}</app-ui-tab-child>
      <app-ui-tab-child>{{ Language.quarter | translate}}</app-ui-tab-child>
      <app-ui-tab-child>{{ Language.year | translate}}</app-ui-tab-child>
    </app-ui-tab-style1>
  </app-ui-content-b-gap>

  <!-- all zone -->
  <snd-progress-team-table-card class="progress-content-space" 
                                [TeamMainDataList] = "TeamMainDataList"
                                (onClick)="clickTableCardInfo()">
                              </snd-progress-team-table-card>


  <!-- tab -->
  <div class="level-2-tab-padding">
    <app-ui-content-b-gap [gapSize]="GAP_SIZE_20">
      <app-ui-tab-style2 (onTabChildClick)="onZoneHeadValueTypeEventTrigger($event)" [maxShow]="4" [tabIndex]="0">
        <app-ui-tab-child>FYFC</app-ui-tab-child>
        <app-ui-tab-child>ANP</app-ui-tab-child>
        <app-ui-tab-child>{{ Language.manpower | translate }}</app-ui-tab-child>
        <app-ui-tab-child>{{ Language.recruitment | translate }}</app-ui-tab-child>
      </app-ui-tab-style2>
    </app-ui-content-b-gap>
  </div>


  <!-- table -->
  <snd-progress-head-table (onClick)="clickTableInfo()" class="progress-content-space" 
                          [TeamIndirectDataList] = "TeamIndirectDataList">
                          </snd-progress-head-table>
  

</div>

