<div class="progress-title-content progress-title-bottom progress-title-top">
  <app-ui-title-tab>
    <!-- title-style1 -->
    <app-ui-title-style1 class="space-ui-clear" titleInfo>
      <ng-container textType="titleText">{{ Language.monthlyPlanFYFCTitleText | translate}}</ng-container>
    </app-ui-title-style1>

  </app-ui-title-tab>
</div>

<!-- Monthly Review -->
<div class="">
  <app-ui-card-content-btn [noPadding]="true">
    <ng-container infoContent>
      <app-ui-table-edit-content (onClick)="consoleEvent('點擊',$event)" [styleType]="TABLETIELE_STYLE_7" [event]="false">
        <ng-container header>
          <app-ui-table-list2>
            <list-item [titleText]="Language.totalForecastTitle | translate" [itemMinSize]="'sm'" >{{ TotalForecast | numberFormat }}</list-item>
            <list-item [titleText]="Language.totalYTDActualTitle | translate" [itemMinSize]="'sm'">{{ TotalYTDActual | numberFormat }}</list-item>
          </app-ui-table-list2>
        </ng-container>

        <ng-container body>
          <app-ui-table-content2 [thMinHeight]="50" [tdMinHeight]="50" [fixed]="false" [showControlbar]="true">
            <app-ui-table-row-head>
              <app-ui-table-item [itemMinSize]="'md'">{{ Language.month | translate }}</app-ui-table-item>
              <app-ui-table-item [itemMinSize]="'md'" [heightLight]="'style1'" 
                                *ngFor = "let item of PersonalMonthlyPlanFYFCList">{{item.Month}}</app-ui-table-item>
            </app-ui-table-row-head>
            <app-ui-table-row>
              <app-ui-table-item [itemMinSize]="'md'">{{ Language.plan  | translate}}</app-ui-table-item>
              <app-ui-table-item [itemMinSize]="'md'" 
                                *ngFor = " let item of PersonalMonthlyPlanFYFCList">{{ item.Plan | numberFormat }}</app-ui-table-item>
            </app-ui-table-row>
            <app-ui-table-row>
              <app-ui-table-item [itemMinSize]="'md'">{{ Language.actual | translate }}</app-ui-table-item>
              <app-ui-table-item [itemMinSize]="'md'" 
                                *ngFor = "let item of PersonalMonthlyPlanFYFCList">{{ item.Actual | numberFormat }}</app-ui-table-item>
            </app-ui-table-row>
          </app-ui-table-content2>
        </ng-container>
        
      </app-ui-table-edit-content>
    </ng-container>
  </app-ui-card-content-btn>
</div>
