@import 'style-import';

html{
    font-size: #{$font-base-num-md}px;
    -webkit-overflow-scrolling:touch;
    @media screen and (min-width: $screen-lg-than-nb){
        font-size: #{$font-base-num-lg}px;
    }
    &.font-size_lg{
        font-size: #{$font-base-num-lg}px;
    }
    &.font-size_md{
        font-size: #{$font-base-num-md}px;
    }
    &.font-size_sm{
        font-size: $font-size-h8;
    }
    @media(max-width: $screen-sm-than-mobile){
        &.font-size_lg{
            font-size: calc(#{$font-base-num}px + 2px);
        }
        &.font-size_md{
            font-size: calc(#{$font-base-num}px + 1px);
        }
    }
}

body{
    font-family: $font-family;
    letter-spacing: $letter-space-normal;
    color: $color-font-normal;
    line-height: normal;
    word-break: break-word;

}

.font-size_h2{
    @include get-font-size(font-size-h2);
}
.font-size_h4{
    @include get-font-size(font-size-h4);
}
.font-size_h5{
    @include get-font-size(font-size-h5);
}