<div class="goal-agency-title-content">
  <div class="goal-agency-info-content">
    <!-- top -->
    <div class="goal-info-info">
      <div class="goal-info-left" *ngIf="dataObjectList[0]">
        <snd-goal-ui-title-desc-list 
          [title]="language.FYFCForecast | translate"
          [desc]="dataObjectList[0].Forecast | numberFormat"
          [titleColor]="'blue'"
          [titleSize]="'lg'"
          [descColor]="'blue'"
          [descSize]="'lg'"
          [imgUrl]="'assets/img/icon-goal-setting-01-step1.svg'">
        </snd-goal-ui-title-desc-list>
        <snd-goal-ui-title-desc-list
          [isImgListChild]="true"
          [title]="language.FYFCActual | translate"
          [desc]="dataObjectList[0].Actual | numberFormat">
        </snd-goal-ui-title-desc-list>
        <snd-goal-ui-title-desc-list
          [isImgListChild]="true"
          [title]="language.FYFCMonthPlan | translate"
          [desc]="dataObjectList[0].MonthPlan | numberFormat">
        </snd-goal-ui-title-desc-list>
      </div>
      <!-- end of left info -->
      <div class="goal-info-right" *ngIf="dataObjectList[1]">
        <snd-goal-ui-title-desc-list
          [title]="language.ANPForecast | translate"
          [desc]="dataObjectList[1].Forecast | numberFormat"
          [titleColor]="'blue'"
          [titleSize]="'lg'"
          [descColor]="'blue'"
          [descSize]="'lg'"
          [imgUrl]="'assets/img/icon-goal-setting-01-step2.svg'">
        </snd-goal-ui-title-desc-list>
        <snd-goal-ui-title-desc-list
          [isImgListChild]="true"
          [title]="language.ANPActual | translate"
          [desc]="dataObjectList[1].Actual | numberFormat">
        </snd-goal-ui-title-desc-list>
        <snd-goal-ui-title-desc-list
          [isImgListChild]="true"
          [title]="language.ANPMonthPlan | translate"
          [desc]="dataObjectList[1].MonthPlan | numberFormat">
        </snd-goal-ui-title-desc-list>
      </div>
      <!-- end of right info -->
    </div>
    <!-- end of top -->
    <!-- btm -->
    <div class="goal-info-info goal-info-btm">
      <div class="goal-info-left" *ngIf="dataObjectList[2]">
        <snd-goal-ui-title-desc-list
          [isImgListChild]="true"
          [title]="language.manpowerPlan | translate"
          [titleSize]="'md'"
          [isTitleBold]="true"
          [descColor]="'blue'"
          [descSize]="'md'"
          [desc]="dataObjectList[2].MonthPlan | numberFormat">
        </snd-goal-ui-title-desc-list>
      </div>
      <div class="goal-info-right" *ngIf="dataObjectList[3]">
        <snd-goal-ui-title-desc-list
          [isImgListChild]="true"
          [title]="language.recruitmentPlan | translate"
          [titleSize]="'md'"
          [isTitleBold]="true"
          [descColor]="'blue'"
          [descSize]="'md'"
          [desc]="dataObjectList[3].MonthPlan | numberFormat">
        </snd-goal-ui-title-desc-list>
      </div>

    </div>
    <!-- end of btm -->
  </div>
</div>
