@import 'style-import';
@import '../goal-ui-data-card1/goal-ui-data-card-layout';

//left wd
$wd-info: 45%;

.goal-agency-info-content{

    .goal-info-info:not(.goal-info-btm){
        &::after{
            content: '';
            display: block;
            height: 1px;
            width: 100%;
            background-color: $color-grey5;
            margin-top: 25px; 
        }
        ::ng-deep{
            snd-goal-ui-title-desc-list:first-child{
                .title-desc-container{
                    .title-block{
                        .title-txt{
                        font-weight: bold;
                        line-height: normal;
                        }
                    }
                    .desc-block{
                        .desc-txt{
                            font-size: $font-size-h4;
                            word-break: break-all;
                            line-height: normal;
                        }
                    }
                }
            }
            snd-goal-ui-title-desc-list:not(:first-child){
                .title-desc-container{
                    .desc-block{
                        .desc-txt{
                            font-weight: normal;
                        }
                    }
                }
            }
        }  
    }
    ::ng-deep{
        .goal-info-btm{
            snd-goal-ui-title-desc-list{
                .title-desc-container{
                    .title-block{
                        .title-txt{
                        font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $screen-sm-than-nb){
    .goal-agency-info-content{
        padding: 0 10px;
        .goal-info-info{
            &.goal-info-btm{
                .goal-info-right{
                    padding-top: 0;
                }
                ::ng-deep snd-goal-ui-title-desc-list{
                    .title-desc-container{
                        &.style-img-child{
                            padding-left: 0;
                            
                        }
                    }
                }
        
            }
        }
    }
    
}



