<div class="mandate-block" [ngClass]="{'isHasCardStyle': isHasCardStyle , 'isJustMobileStyle': isJustMobileStyle}">
  <div class="mandate-title">Mandate</div>
  <div class="mandate-list-block">
    <ul class="mandate-ul">
      <li class="mandate-li">
        <div class="li-item-title">PC</div>
        <div class="li-item-value">$100,000,000</div>
      </li>
      <li class="mandate-li">
        <div class="li-item-title">ANP</div>
        <div class="li-item-value">$100,000,000</div>
      </li>
      <li class="mandate-li">
        <div class="li-item-title">Avg. Active Agent</div>
        <div class="li-item-value">10,000</div>
      </li>
      <li class="mandate-li">
        <div class="li-item-title">Recruitment</div>
        <div class="li-item-value">10,000</div>
      </li>
    </ul>
  </div>
</div>
