<app-ui-table-collapse-content #directTableBlock class="direct-table-block" [titleText]="titleText" #cardContentBlock>
  <ng-container header>
    <div class="sub-header-data-block">
      <div class="col-half">
        <snd-goal-ui-title-desc-list
          [title]="language.manpower | translate"
          [desc]="manpower.Manpower | numberFormat"></snd-goal-ui-title-desc-list>
      </div>
      <div class="col-half">
        <snd-goal-ui-title-desc-list
          [title]="language.recruitment | translate"
          [desc]="manpower.Recruitment | numberFormat"></snd-goal-ui-title-desc-list>
      </div>
    </div>
  </ng-container>
  <ng-container body *ngIf="agentList">
    <app-ui-table-content [dataHeadArray]="tableHeadData" [isShowTableVerticalView]="isShowTableVerticalView" (isShowTableVerticalViewChange)="onIsShowTableVerticalViewChange($event)" (onRowClick)="onRowClick($event)" [thMinHeight]="50" [fixed]="false" [titleOnlyMobile]="false" [showControlbar]="true">
      <ng-container controlBarContent>
          <snd-ui-information class="info-agency" (onClick)="infoClick()">
              <!-- <ng-container info-content>
                  <div class="info-content">
                    <div class="title-content">
                      <div class="info-title-main">Information</div>
                    </div>
                    <div class="subtitle">
                      <p>Yellow</p>
                    </div>
                    <div class="detail-text">
                      <p>The adjusted goal sent by this AG is waiting for approval. You can click on the agent column to approve page.</p>
                    </div>
                  </div>
              </ng-container>   -->
          </snd-ui-information>
      </ng-container>
      <app-ui-table-row-head>
        <app-ui-table-item [itemMinSize]="'md'" [heightLight]="'style4'" [textAlign]="'center'">
            <snd-ui-information class="info-agency show-pc-and-pad" (onClick)="infoClick()">
                <!-- <ng-container info-content>
                    <div class="info-content">
                      <div class="title-content">
                        <div class="info-title-main">Information</div>
                      </div>
                      <div class="subtitle">
                        <p>Yellow</p>
                      </div>
                      <div class="detail-text">
                        <p>The adjusted goal sent by this AG is waiting for approval. You can click on the agent column to approve page.</p>
                      </div>
                    </div>
                </ng-container>   -->
            </snd-ui-information>
        </app-ui-table-item>
        <ng-container *ngFor="let headData of tableHeadData">
          <app-ui-table-item [itemMinSize]="'md'" [heightLight]="'style4'">
            {{headData}}
          </app-ui-table-item>
        </ng-container>
      </app-ui-table-row-head>
      <!-- row -->
      <ng-container *ngFor="let agent of agentList">
        <app-ui-table-row>
          <app-ui-table-item [itemMinSize]="">
            <snd-ui-table-text-group [titleText]="agent.AgentName"
                                     [subTitleText]="agent.JobGrade" [isHasDot]="agent.IsHasDot" [titleColor]="agent.TextColor">
            </snd-ui-table-text-group>
          </app-ui-table-item>
          <ng-container *ngFor="let key of keyList">
            <app-ui-table-item [itemMinSize]="'md'">
              {{agent[key] | numberFormat}}
            </app-ui-table-item>
          </ng-container>
        </app-ui-table-row>
      </ng-container>
      <!-- end of row -->
    </app-ui-table-content>
    <!-- end of table content -->

  </ng-container>

</app-ui-table-collapse-content>
