<app-ui-card-content-btn class="progess-table-block" [noPadding]="true">
  <ng-container infoContent>
    <div #cardTableBlock class="has-title-content">
      <div class="child-content">
        <app-ui-table-collapse-content  [isHasCollapse]="false"> 
          <ng-container body>
            
            <app-ui-table-content [dataHeadArray]="TableHeadData" 
                                  (onItemClick)="OrderEvent($event)" 
                                  (onRowClick)="routeToInnerPage($event)" [thMinHeight]="50" [fixed]="false">
                                  
              <ng-container controlBarContent>          
                <snd-ui-information (onClick)="clickInfo()">
                </snd-ui-information>
               
              </ng-container>

              <app-ui-table-row-head>
                <app-ui-table-item [itemMinSize]="'md'" [textAlign]="'center'" [heightLight]="'style3'">
                    <snd-ui-information class="show-pc-and-pad" (onClick)="clickInfo()">
                    </snd-ui-information>
                </app-ui-table-item>
                <ng-container *ngFor="let headItem of TableHeadData">
                  <app-ui-table-item [itemMinSize]="'md'" [heightLight]="'style1'" [sort]="true">
                      {{headItem}}
                  </app-ui-table-item>
                </ng-container>
              </app-ui-table-row-head>

              <app-ui-table-row *ngFor = "let indirectItem of TeamIndirectDataList; let i = index">
                <app-ui-table-item [itemMinSize]="'md'">
                  <app-ui-team-title-text 
                  [teamText]="'indirectItem.TeamName'" [titleText]="indirectItem.AgentName" [textText]="indirectItem.JobGrade">
                  </app-ui-team-title-text>
                </app-ui-table-item> <!-- {{ indirectItem.Goal | translatePrice}} {{ }}-->
                <app-ui-table-item [itemMinSize]="'md'" 
                                   [heightLight]="style4">
                                   {{ ShowDesh(indirectItem.Goal)  | translatePrice}}
                                  </app-ui-table-item>

                <app-ui-table-item [itemMinSize]="'md'" 
                                   [heightLight]="StyleObj[i]"
                                   *ngIf="!IsCAO">
                                   {{ ShowDesh(indirectItem.Forecast)  | translatePrice}}
                                  </app-ui-table-item>

                <app-ui-table-item [itemMinSize]="'md'"
                                   [heightLight]="style4">
                                   {{ ShowDesh(indirectItem.Actual)  | translatePrice}}
                                  </app-ui-table-item>

                <app-ui-table-item [itemMinSize]="'md'"
                                   [heightLight]="style4">
                                   {{ ShowDesh(indirectItem.Shortfall)  | translatePrice}}
                                  </app-ui-table-item>

              </app-ui-table-row>

            </app-ui-table-content>
          </ng-container>
        </app-ui-table-collapse-content>
      </div>
    </div>
  </ng-container>
</app-ui-card-content-btn>


<div class="ps-text">※{{ Language.infoAllAmountCountsByMillion | translate }}</div>