@import 'style-import';
@import '../../style/progress-info-content';

.ps-text{
    display: block;
    padding-top: 10px;
    font-size: $font-size-h9;
    color: $color-font-normal;
    line-height: $font-line-height;
    text-align: left;
}
