@import 'style-import';

$icon-size: 40px; // icon width height
$space-img-title: $space-base * 3; // space btw img and icon
$align-space-text-with-title-img: $icon-size + $space-img-title; // text space when title has image


.title-num-unit-container{
  &.style-has-img{ //if has img different style
    // if has img, detail will add padding on the detail
    .detail-block{
      padding-left: $align-space-text-with-title-img;
    }
  }
  .title-block{
    margin-bottom: $space-base*4;
    text-align: left;
    min-height: $icon-size;
    .img-block{
      width: $icon-size;
      height: $icon-size;
      display: inline-block;
      vertical-align: middle;
      margin-right: $space-img-title;
      img{
        width: 100%;
      }
    }
    .title-txt {
      font-size: $font-size-h6;
      font-weight: bold;
      line-height: 1.75;
      letter-spacing: $letter-space-normal;
      color: $color-main2;
      display: inline-block;
      vertical-align: middle;
      
    } // end .title-txt
  }
  .detail-block{
    text-align: left;
    .num-txt {
      font-size: $font-size-h4;
      font-weight: bold;
      line-height: 1.08;
      color: $color-main2;
    } // end .num-txt
    
    .unit-txt {
      font-size: $font-size-h8;
      font-weight: 300;
    } // end .unit-txt
  }// end .detail-block 
}





//小版
@media screen and (max-width: $screen-sm-than-nb) {
  .title-num-unit-container {
    // 小版沒有圖
    &.style-has-img{
      .title-block{
        .img-block{
          display: none;
        }
      }
      .detail-block{
        padding-left: 0;
      }
    }
  } // end .title-num-unit-container
} // end media < 1024
