@import 'style-import';
// @import '../../style/overview-style/goal-message-content.scss'; //Approval status

.goal-content-space{
    display: block;
    margin-bottom: $space-ui-version;
}

.goal-content-space:last-child{
    margin-top: $space-ui-version*2;
}



// =====原goal-message-content.scss=====
// Approval status
.goal-message-content{
    padding: 20px;
    padding-right: 45px;
    padding-bottom: 30px;
    .message-title{
        @include goal-title-style;
    }  
    
    
    .message-info{
        display: flex;
        .stap-content{
            flex: 1;
            .text{
                margin: 0;
                font-size: $font-size-h9;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: 2;
                letter-spacing: 0.2px;
                hyphens: manual;
                word-break: break-word;
            }
            @media screen and (min-width: $screen-pad){
                ::ng-deep{
                    app-ui-progress-stepper-style{
                        .stepper2-contnet.step-style-2-2{
                            padding-left: 45px;
                            padding-right: 45px;
                            app-ui-progress-stepper-style-child{
                                .step-title{
                                    width: 125px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .img-content{
            width: 100%;
            max-width: 150px;
            margin-top: -30px;
            img{
                width: 100%;
                vertical-align: top;
            }
        }
    }
    .goal-info-use{
        margin-top: 35px;
        .text{
            font-size: $font-size-h9;
            font-weight: 300;
            font-style: normal;
            font-stretch: normal;
            line-height: 2;
            letter-spacing: 0.2px;
            text-align: center;
            margin: 0;
            hyphens: manual;
        }
    }
    
}

.goal-message-content .goal-info-use{
    ::ng-deep{
        app-ui-btn-layout{
            .btn-block{
                margin-top: 30px;
                margin-bottom: 0;
            }
        }
    }
}
.goal-message-content{
    ::ng-deep{
        app-ui-btn-layout{
            .btn-block{
                margin-top: $space-ui-element;
            }
        }
    }
}
@media screen and (max-width: $screen-sm-than-pad){
    .goal-message-content{
        padding-right: 20px;
        .message-info{
            .img-content{
                max-width: 120px;
                margin-top: 0px;
            }
        }
        &.hasStep{
            .message-info{
                .img-content{
                    display: none;
                }
            }
        }
    }
} 