<div class="container-block">
  <div class="info-content-block">
    <div class="title-block">
      <div class="title-txt">{{title}}</div>
      <ng-content select="[title-desc]"></ng-content>
    </div>
    <!-- end title-block -->

    <div class="list-block">
      <ul>
        <li class="list-item" *ngFor="let item of listItem; let i = index">
          <div class="list-title-txt">{{item.getTitle()}}</div>
          <div class="list-desc-txt" [ngClass]="{'text-red' : listItemTextIsRed[i] }">{{item.getDesc() | numberFormat}}</div>
        </li>
      </ul>
    </div>
    <!-- end list-block -->
  </div>
  <ng-content select="[other]"></ng-content>
</div>
<!-- end container-block -->
