
<app-ui-card-content-btn [noPadding]="true">
  <ng-container infoContent>
    <div #cardContentBlock class="card-content-block">

      <ul class="progressbar-list-block">

        <!-- list header -->
        <li class="progressbar-list-item progressbar-list-item-header">
          <div class="item-main-content">

            <div class="left-block">
              <app-ui-title-style1 class="space-ui-clear" titleInfo>
                <ng-container textType="titleText">{{ Language.activitiesText | translate }}</ng-container>
              </app-ui-title-style1>
            </div>

            <div class="mid-block">
                <snd-ui-information (onClick)="clickInfo()">
                </snd-ui-information>
              <p class="item-header-text">{{ Title }}</p>
            </div>

            <div class="right-block">
              <p class="item-header-text">{{ Language.achieveText | translate }}</p>
            </div>
            
          </div>
        </li>

        <!-- list-item -->
        <li class="progressbar-list-item" *ngFor="let item of ListItemName; let i = index;">
          <div class="item-main-content">
            <div class="left-block chart-block">

              <div class="title-block"><p>{{ item.Name }}</p></div>

              <div class="progressbar-block">
                <p>{{ item.Content }}</p>
                <app-ui-progress class="progressbar" 
                                [value] = "GetBarLength(item.Value, ListItemGoal[i], 2)"
                                [theme] = "getProgressBarColor(item.Value, ListItemGoal[i], configMin, configMax)"><!---->
                                </app-ui-progress>
              </div>
            </div>

            <div class="mid-block ">
              <span class="text-lg">{{ ShowDesh(item.Value) | numberFormat }}</span>
              <span class="text-sm">/{{ GetGoalPlanPoint(ListItemGoal[i]) | numberFormat:1 }}</span>
              
              <div class="item-extra-block" *ngIf="i !== ListItemName.length -1 ">
                <span class="icon"></span>
                <div class="value">{{ item.Diff | numberFormat }}%</div>
              </div>

            </div>
            
            <div class="right-block ">
              <div class="text">{{ GetAchievePercentage(item.Value, ListItemGoal[i]) | numberFormat }}%</div>
            </div>

          </div>
        </li>
      </ul>

    </div>
  </ng-container>
</app-ui-card-content-btn>


