@import 'style-import';


$img-size: 40px;
$space-img-title: 15px;
$space-has-img: $img-size + $space-img-title;

$wd-title: 60%;

.title-desc-container {
  display: flex;
  align-items: center;
  text-align: left;
} // end .title-desc-container

.title-block{
  width: $wd-title;
  display: flex;
  align-items: center;
}
.img-block{
  max-width: $img-size;
  width: 100%;
  margin-right: 15px;
  img{
    width: 100%;
  }
}
.title-txt {
  width: 100%;
  font-size: $font-size-h9;
  font-weight: 300;
  line-height: 2;

  &:not(:last-child) {
    margin-right: $space-base*2;
  }
} // end .title-txt
.desc-block{
  width: calc(100% - #{$wd-title});
}
.other-block{
  width: 50%;
}
.desc-txt {
  width: 100%;
  font-size: $font-size-h8;
  font-weight: normal;
  line-height: 1.75;
  text-align: right;
} // end .desc-txt




// other style while user input attr

$style-config:(
  title:(
    class: 'title',
    font-size-sm: $font-size-h9,
    font-size-md: $font-size-h8,
    font-size-lg: $font-size-h6
  ),
  desc:(
    class: 'desc',
    font-size-sm: $font-size-h9,
    font-size-md: $font-size-h6,
    font-size-lg: '',  // font size 26px use class to control

  )
);

.title-desc-container{



  @each $name, $value in $style-config{
    $class: map-get($value , class);
    $font-size-sm: map-get($value , font-size-sm);
    $font-size-md: map-get($value , font-size-md);
    $font-size-lg: map-get($value , font-size-lg);

    // font size sm / md / lg
    &.style-#{$class}-size-sm{
      .#{$class}-txt{
        font-size: $font-size-sm;
      }
      
    }
    &.style-#{$class}-size-md{
      .#{$class}-txt{
        font-size: $font-size-md;
      }
    }
    &.style-#{$class}-size-lg{
      .#{$class}-txt{
        font-size: $font-size-lg;
      }
    }

    // color
    &.style-#{$class}-color-red{
      .#{$class}-txt{
        color: $color-error;
      }
    }
    &.style-#{$class}-color-blue{
      .#{$class}-txt{
        color: $color-main2;
      }
    }

    // text bold
    &.style-#{$class}-weight-bold{
      .#{$class}-txt{
        font-weight: bold;
      }
    }

  } // end of each


  // style has img text align padding
  &.style-img-child{
    padding-left: $space-has-img;
    
  }

}

