.progress-detail-info-content{
    width: 595px;
    @media(max-width: $screen-sm-than-pad){
       width: 280px;
    }
}
// info
.progress-detail-info-content{
    color: $color-font-normal;
    text-align: left;
    .detail-title-content{
        @include informationTitle('.info-title-main');
    }
    .detail-info-subtitle{
        padding-bottom: 15px;
        .title-text{
            font-size: $font-size-h9;
            font-weight: bold;
            font-style: normal;
            line-height: 2;
            letter-spacing: 0.5px;
        }
    }
    .detail-info-info{
        .detail-info-title{
            display: flex;
            .title-num{
                font-size: $font-size-h10;
                font-weight: bold;
                font-style: normal;
                line-height: normal;
                color: $color-grey3;
            }
            .title-text{
                font-size: $font-size-h9;
                font-weight: bold;
                font-style: normal;
                line-height: 2.33;
            }
        }
        .detail-info-text{
            font-size: $font-size-h10;
            font-weight: normal;
            line-height: 2;
        }
    }
}

// info space
.info-block{
    + .info-block{
        margin-top: $space-ui-element;
    }
}