
<!-- table card -->
<div #cardContentBlock class="progress-table-card" >
  <app-ui-table-card [tdMinHeight]="40" [thMinHeight]="50">
    <app-ui-table-row-head>
      <app-ui-table-item [itemMinSize]="'lg'" [textAlign]="'left'">
        <!-- title-style1 -->
        <app-ui-title-style1 class="space-ui-clear" titleInfo [isFullCol]=false>
          <ng-container textType="titleText">{{ Title }}</ng-container>
          <ng-container textType="otherEle">
            <!-- info tab btn -->
            <snd-ui-information (onClick)="clickInfo()">
            </snd-ui-information>
          </ng-container>
        </app-ui-title-style1>
        <!-- end title-style1 -->
      </app-ui-table-item>

      <app-ui-table-item [itemMinSize]="'md'" >{{ Language.FYFC | translate }}</app-ui-table-item>
      <app-ui-table-item [itemMinSize]="'md'" >{{ Language.ANP | translate}}</app-ui-table-item>
      <app-ui-table-item [itemMinSize]="'md'">{{ Language.manpower | translate}}</app-ui-table-item>
      <app-ui-table-item [itemMinSize]="'md'">{{ Language.recruitment | translate}}</app-ui-table-item>

    </app-ui-table-row-head>

    <ng-container *ngIf="IsCAOOrZoneHead; else leaderView">

        <!--goal-->
        <app-ui-table-row>
            <app-ui-table-item [itemMinSize]="'md'" [textAlign]="'left'">
              {{  ListItemName[0].Name }}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{  ListItemName[0].FYFC | translatePrice | numberFormat}}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{  ListItemName[0].ANP  | translatePrice | numberFormat}}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{  ListItemName[0].Manpower  | translatePrice | numberFormat}}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{  ListItemName[0].Recruitment  | translatePrice | numberFormat}}
            </app-ui-table-item>
          </app-ui-table-row>

        <!--actual-->
        <app-ui-table-row>
            <app-ui-table-item [itemMinSize]="'md'" [textAlign]="'left'">
              {{  ListItemName[2].Name }}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{  ListItemName[2].FYFC | translatePrice | numberFormat}}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{  ListItemName[2].ANP | translatePrice | numberFormat}}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{  ListItemName[2].Manpower | translatePrice | numberFormat}}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{  ListItemName[2].Recruitment | translatePrice | numberFormat}}
            </app-ui-table-item>
        </app-ui-table-row>

        <!--shortfall-->
        <app-ui-table-row>
            <app-ui-table-item [itemMinSize]="'md'" [textAlign]="'left'">
              {{ ListItemName[3].Name }}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{ ListItemName[3].FYFC | translatePrice | numberFormat}}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{ ListItemName[3].ANP | translatePrice | numberFormat}}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{ ListItemName[3].Manpower | translatePrice | numberFormat}}
            </app-ui-table-item>
            <app-ui-table-item [itemMinSize]="'md'">
              {{ ListItemName[3].Recruitment | translatePrice | numberFormat}}
            </app-ui-table-item>
        </app-ui-table-row>     
    </ng-container>

    <ng-template #leaderView>
      <!--goal-->
      <app-ui-table-row>
        <app-ui-table-item [itemMinSize]="'md'" [textAlign]="'left'">
          {{  ListItemName[0].Name }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{  ListItemName[0].FYFC | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{  ListItemName[0].ANP | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{  ListItemName[0].Manpower | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{  ListItemName[0].Recruitment | numberFormat }}
        </app-ui-table-item>
      </app-ui-table-row>

      <!--forecast-->
      <app-ui-table-row>
        <app-ui-table-item [itemMinSize]="'md'" [textAlign]="'left'">
          {{  ListItemName[1].Name }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'" [heightLight]="StyleObj[0].style">
          {{  ListItemName[1].FYFC | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'" [heightLight]="StyleObj[1].style">
          {{  ListItemName[1].ANP | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'" [heightLight]="StyleObj[2].style">
          {{  ListItemName[1].Manpower | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'" [heightLight]="StyleObj[3].style">
          {{  ListItemName[1].Recruitment | numberFormat }}
        </app-ui-table-item>
      </app-ui-table-row>

      <!--actual-->
      <app-ui-table-row>
        <app-ui-table-item [itemMinSize]="'md'" [textAlign]="'left'">
          {{  ListItemName[2].Name }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{  ListItemName[2].FYFC | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{  ListItemName[2].ANP | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{  ListItemName[2].Manpower | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{  ListItemName[2].Recruitment | numberFormat }}
        </app-ui-table-item>
      </app-ui-table-row>

      <!--shortfall-->
      <app-ui-table-row>
        <app-ui-table-item [itemMinSize]="'md'" [textAlign]="'left'">
          {{ ListItemName[3].Name }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{ ListItemName[3].FYFC | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{ ListItemName[3].ANP | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{ ListItemName[3].Manpower | numberFormat }}
        </app-ui-table-item>
        <app-ui-table-item [itemMinSize]="'md'">
          {{ ListItemName[3].Recruitment | numberFormat }}
        </app-ui-table-item>
      </app-ui-table-row>

    </ng-template>


    <!-- Dont kill me plz  QAQ...................... -->
    <!-- <app-ui-table-row *ngFor = "let item of ListItemName; let i = index">
      <app-ui-table-item [itemMinSize]="'md'" [textAlign]="'left'">
        {{ item.Name }}
      </app-ui-table-item>
      <app-ui-table-item [itemMinSize]="'md'">
        {{ item.FYFC }}
      </app-ui-table-item>
      <app-ui-table-item [itemMinSize]="'md'">
        {{ item.AMP }}
      </app-ui-table-item>
      <app-ui-table-item [itemMinSize]="'md'">
        {{ item.Manpower }}
      </app-ui-table-item>
      <app-ui-table-item [itemMinSize]="'md'">
        {{ item.Recruitment }}
      </app-ui-table-item>
    </app-ui-table-row> -->



  </app-ui-table-card>
</div>



<!-- <app-ui-information-content style="display:none !important" (btnOnClick)="closeInfo()" [maxWidth]="595" #informationAgency [defaultPos]="'bottom'" [paddindData]="paddindData">
  <div class="progress-detail-info-content">
      <div class="detail-title-content">
        <div class="info-title-main">{{ Language.informationDescriptionText | translate}}</div>
      </div>
      <div class="detail-info-subtitle">
          <div class="title-text">{{ Language.infoTitle | translate}}</div>
      </div>
      <div class="detail-info-info">
        
        <ul class="detail-info-list-block">
          <li class="detail-info-list">
              <div class="detail-info-title">
                  <div class="title-text">{{ Language.month | translate}}:</div>
              </div>
              <div class="detail-info-text">{{ Language.infoMonthDetailText | translate}}</div>
              
          </li>
          <li class="detail-info-list">
              <div class="detail-info-title">
                  <div class="title-text">{{ Language.quarter | translate}}:</div>
              </div>
              <div class="detail-info-text">{{ Language.infoQuarterDetailText | translate}}</div>
        
          </li>
          <li class="detail-info-list">
            <div class="detail-info-title">
                <div class="title-text">{{ Language.year | translate}}:</div>
            </div>
            <div class="detail-info-text">{{ Language.infoYearDetailText | translate}}</div>
          </li>
          <li class="detail-info-list">
            <div class="detail-info-title">
                <div class="title-text">{{ Language.forecast | translate}} {{ Language.recruitment | translate}}:</div>
            </div>
            <div class="detail-info-text">{{ Language.infoForecastRecruitmentDetailText | translate}}</div>
          </li>
        </ul>
      </div>
  </div>
</app-ui-information-content> -->
<!-- end of info -->

