@import "style-import";
$img-wd-lg: 99px;
$img-wd-sm: 45px;
.goal-self-goal{
    display: flex;
    padding: 20px 0px;
    .self-title{
        @include goal-title-style;
    }
    .self-left{
        padding: 0 20px;
        width: 100%;
        max-width: 280px;
        padding-bottom: 40px;
        .self-title{
            margin-bottom: 40px;
            text-align: left;
        }
        .goal-title-num{
            text-align: center;
            padding: 0 20px;
            .average-text{
                font-size: $font-size-h8;
                font-weight: 300;
                font-style: normal;
                margin-bottom: 10px;
            }
            .average-num{
                font-size: $font-size-h5;
                font-weight: bold;
                font-style: normal;
                color: $color-main2;
            }
            .img-content{
                margin-top: 60px;
                text-align: left;
                img{
                    display: inline-block;
                    width: $img-wd-lg;
                }
            }
        }
    }
    .self-right{
        padding: 0 40px 0 15px;
        padding-bottom: 30px;
        flex: 1;
        border-left: solid 1px $color-grey7;
        text-align: left;

        .self-goal-list{
            text-align: left;
            padding: 15px 20px;
            .goal-list-ul,.goal-list-li{
                list-style-type: none;
            }
            .goal-list-li{
                margin-bottom: 20px;
            }
        }
    }
}

// 小版
@media screen and (max-width: $screen-sm-than-nb){
    .goal-self-goal{
        display: block;
        .self-left{
            position: relative;
            max-width: none;
            .goal-title-num{
                .img-content{
                    width: $img-wd-sm;
                    position: absolute;
                    top: 10px;
                    left: 20px;
                    img{
                        width: 100%;
                    }
                }
            }
            
        }
        .self-right{
            padding: 20px 20px 10px;
            border-left: solid 0px $color-grey7;
            border-top: solid 2px $color-grey7;
            .self-goal-list{
                padding-left: 0;
                padding-right: 0; 
            }
        }
    }
} 