<app-ui-card-content-btn class="goal-content-space" [noPadding]="true">
  <ng-container infoContent>
    <div class="goal-self-goal">
      <div class="self-left">
        <div class="self-title">{{leftTitleMain}}</div>
        <div class="goal-title-num">
          <div class="average-text">{{leftTitleSub}}</div>
          <div class="average-num">{{leftNum | numberFormat}}</div>
          <div class="img-content"><img src="assets/img/img-fly-woman.svg" alt=""></div>
        </div>
      </div>
      <div class="self-right">
        <div class="self-title">{{rightTitleMain}}</div>
        <ng-content></ng-content>
        <div class="self-goal-list">
          <ul class="goal-list-ul">
            <li class="goal-list-li">
              <app-goal-ui-title-subtitle-num-unit [title]="language.find | translate" [subtitle]="language.findSubtitle | translate"
                [num]="activityValue.Find | numberFormat:1" [unit]="unit"></app-goal-ui-title-subtitle-num-unit>
            </li>
            <li class="goal-list-li">
              <app-goal-ui-title-subtitle-num-unit [title]="language.schedule | translate" [subtitle]="language.scheduleSubtitle | translate"
                [num]="activityValue.Schedule | numberFormat:1" [unit]="unit"></app-goal-ui-title-subtitle-num-unit>
            </li>
            <li class="goal-list-li">
              <app-goal-ui-title-subtitle-num-unit [title]="language.meetPresentText | translate" [subtitle]="language.meetSubtitle | translate"
                [num]="activityValue.Meet | numberFormat:1" [unit]="unit"></app-goal-ui-title-subtitle-num-unit>
            </li>
            <li class="goal-list-li">
              <app-goal-ui-title-subtitle-num-unit [title]="language.submit | translate" [subtitle]="language.submitSubtitle | translate"
                [num]="activityValue.Submit | numberFormat:1" [unit]="unit"></app-goal-ui-title-subtitle-num-unit>
            </li>
            <li class="goal-list-li">
              <app-goal-ui-title-subtitle-num-unit [title]="language.inforce | translate" [subtitle]="language.inforceSubtitle | translate"
                [num]="activityValue.Inforce | numberFormat:1" [unit]="unit"></app-goal-ui-title-subtitle-num-unit>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </ng-container>
</app-ui-card-content-btn>