@import 'style-import';
$space-card-side: 20px;
//info style
.info-detail-block{
    width: 300px;
    @media(max-width: $screen-sm-than-mobile){
        width: 260px;
    }
    //info title
    .info-title-block{
        @include informationTitle('.info-title-main');
    }
    
    // list data on step3 (in info)
    .info-list-data-block{
        padding: 0;
        list-style-type: none;
        color: $color-font-normal;
        .list-data-item-block{
            display: block;
            text-align: left;
            .title-sm-main{
                display: block;
                font-size: $font-size-h9;
                font-weight: bold;
                line-height: $font-line-height;
            }
            .content-detail-block{
                padding: 0;
                margin: 0;
                font-size: $font-size-h9;
                line-height: $font-line-height;
                
            }
        }
    }

}

:host {
    ::ng-deep{
        .info-content{
            padding-top: $space-card-side;
            
        }
    }
}