<app-ui-inner-step *ngIf="isNextYear!==null" [isBackShow]="canSkip" [backUrl]="backUrl" [theme]="isNextYear? 'light':'dark'"
  [ngClass]="goalSettingStepDataParams.isAdjust ? 'isAdjust' : '' ">

  <div class="layout-title" heading id="header">
    <div class="title-block">
      <h2 class="title-main">{{yearTitle}}</h2>
      <h6 class="title-sub">{{workingExperienceSubtitle}}</h6>
    </div>
    <div class="img-block">
      <img src="assets/img/img-goal-setting-role-{{gender}}-leader.svg">
    </div>
  </div>
  <!-- end: heading -->

  <div class="layout-main-content stop-scroll-block" *ngIf="data" main #scrollContent (scroll)="resetInfoPos()">


    <!-- step1 -->
    <snd-goal-setting-step1 #step1 id="step_1" class="card-block" [isHasBtn]="currentStep == 1"
      [validationResult]="validationResultMap[0]" [isAdjust]="goalSettingStepDataParams.isAdjust" [data]="data.Step1"
      [goalStatus]="data.GoalStatus" [yearConfig]="data.YearConfig" [isNextYear]="isNextYear" [jobGrade]="jobGrade"
      [isDisableBtn]="!isBtnCanClick" (reset)="onReset($event)" (next)="onNext($event)"
      (settingChange)="onValueChange($event)">
    </snd-goal-setting-step1>
    <!-- end of step1 -->

    <!-- step2 -->
    <snd-goal-setting-step2 [hidden]="currentStep<2 && !goalSettingStepDataParams.isAdjust" id="step_2" class="card-block"
      [isHasBtn]="currentStep == 2" [validationResult]="validationResultMap[1]" [isAdjust]="goalSettingStepDataParams.isAdjust"
      [data]="data.Step2" [goalStatus]="data.GoalStatus" [yearConfig]="data.YearConfig" [isNextYear]="isNextYear"
      [isDisableBtn]="!isBtnCanClick" (reset)="onReset($event)" (next)="onNext($event)"
      (settingChange)="onValueChange($event)">
    </snd-goal-setting-step2>

    <!-- end of step2 -->

    <!-- step3 -->
    <snd-goal-setting-step3 [isNextYear]="isNextYear" [hidden]="currentStep<3 && !goalSettingStepDataParams.isAdjust" id="step_3" class="card-block"
      [isHasBtn]="currentStep == 3" [validationResult]="validationResultMap[2]" [inputScrollContent]="scrollContent"
      [inputAutoScrollContent]="scrollContent" [data]="data.Step3" [goalStatus]="data.GoalStatus"
      [isDisableBtn]="!isBtnCanClick" (next)="onNext($event)" (onClick)="clickInfoStep3()">
    </snd-goal-setting-step3>

    <!-- end of step3 -->

    <!-- step4 -->
    <snd-goal-setting-step4 [isNextYear]="isNextYear" [hidden]="currentStep<4 && !goalSettingStepDataParams.isAdjust" id="step_4" class="card-block"
      [isHasBtn]="currentStep == 4" [validationResult]="validationResultMap[3]" [data]="data.Step4"
      [goal]="data.Step1.FYFC" [goalStatus]="data.GoalStatus" [yearConfig]="data.YearConfig" [isAgentLeader]="true"
      [isDisableBtn]="!isBtnCanClick" (reset)="onReset($event)" (next)="onNext($event)"
      (settingChange)="onValueChange($event)">
    </snd-goal-setting-step4>
    <!-- end of step4 -->

    <!-- step5 -->
    <snd-goal-setting-step5 id="step_5" class="card-block" [hidden]="currentStep<5 && !goalSettingStepDataParams.isAdjust"
      [isNextYear]="isNextYear" [data]="data.Step5" [goalStatus]="data.GoalStatus" [yearConfig]="data.YearConfig"
      [isHasBtn]="currentStep == 5" [validationResult]="validationResultMap[4]" [isAdjust]="goalSettingStepDataParams.isAdjust || isPromo"
      [isDisableBtn]="!isBtnCanClick" (reset)="onReset($event)" (next)="onNext($event)"
      (settingChange)="onValueChange($event)">
    </snd-goal-setting-step5>
    <!-- end of step5 -->

  </div>
  <!-- end: main -->

  <div class="layout-step-block" steps>
    <app-ui-progress-stepper-style [colorCode]="colorCodeStep" [stepContral]="currentStep-1" [stepData]="stepsData"
      [stepType]="STEP_STYLE">
      <!--[stepContral]     當下第幾步驟                預設:0
          [activeSetpCheck] 當下不鄒需不需要呈現打勾icon  預設:false
                    (TEPSTYLETYPE.STYLE_1時不影響)
          [stepData]        步驟條data string[]        無預設
          [stepType]        步驟條的樣式                預設TEPSTYLETYPE-->
    </app-ui-progress-stepper-style>
  </div>
  <!-- end: steps -->

  <div global-main>
      <snd-goal-setting-step-modal [(isPopOpenInfoStep3)]="isPopOpenInfoStep3"></snd-goal-setting-step-modal>
  </div>
  <!-- end: global-main -->
</app-ui-inner-step>

<app-ui-modal-style-img-base class="wd-sm goal-popup-setting" [(isPopupOpen)]="isPopupPlanApprove" [typeBtn] = "'style3'"
  [isBackdropClose]="true" (close)="cancel()">
  <ng-container textType="modal-img-detail">
    <nx-icon name='product-expensive-objects-jewelery' size='auto' [fill]="false" [outline]='false'></nx-icon>
  </ng-container>
  <ng-container textType="modal-title-detail">{{language.needToBeRecommentTitle | translate}}</ng-container>
  <ng-container textType="modal-content-detail">
    <p class="txt vertical-center-txt center-txt">{{needToBeRecommentContent}}</p>
  </ng-container>
  <!-- end: content -->
  <ng-container textType="modal-btm-detail">
    <app-ui-btn-layout>
      <app-ui-btn [btnColor]="'main2'" [btnWd]="'md'" [isDisable]="!isPlanApproveBtnCanClick" [btnHeight]="'sm'" [id]="'btn_goalSettingSubmit'" Action action="goalSettingSubmit" (actionClick)="approveSubmit()">
        <ng-container TextType="cust">{{language.submit | translate}}</ng-container>
      </app-ui-btn>
    </app-ui-btn-layout>
  </ng-container>
  <!-- end: btm -->
</app-ui-modal-style-img-base>
