@import 'style-import';
@import '../../style/step/goal-setting.card-detail';

:host{
    app-ui-form-input{
        flex-grow: 1;
    }
    ::ng-deep{
        app-ui-form-layout-row{
            .gas-row{
                align-items: center;
            }
            margin-bottom: $space-ui-element;
        }
        //reset button
        .ui-link-block{
            margin-top: -40px;
        }

    }
    .unit-block{
        font-size: $font-size-h9;
        font-weight: normal;
    }

    
}
.content-block{
    .input-block{
        width: 100%;
        display: flex;
        align-items: center;
    }
}