
@import 'style-import';
@import '../../style/overview-style/goal-popup-setting.scss'; // popup style
@import 'layout/layout-space'; // share space

$tab-height: 62px;
$tab-gapTop: 30px;

:host{
    ::ng-deep{
        app-ui-infinite-scroll{
            .infiniti-scroll{
                height: calc(100vh - #{$tab-height} - #{$tab-gapTop});
            }
            // space content space
            .refresh-content > .scroll-content{
                padding: 0 $space-goal-inner-LR-pad $space-widnow-btm $space-goal-inner-LR-pad;
            }
        }
    }

    


    @media screen and(max-width: $screen-sm-than-nb){
        ::ng-deep{
            app-ui-main-full{
                .ui-page-content{
                    .ui-main-full-content{
                        padding-top: 0!important;
                    }
                }
            }
            app-ui-infinite-scroll{
                .refresh-content > .infiniti-scroll{
                    height: calc(100vh - #{$tab-height} - #{$tab-gapTop} - #{$header-mobile-height} - #{$footer-mobile-height});
                }
            }
        }
    }
    @media screen and(max-width: $screen-sm-than-pad){
        ::ng-deep{
            app-ui-infinite-scroll{
                // space content space
                .refresh-content > .scroll-content{
                    padding: 0 $space-goal-inner-LR-mobile $space-widnow-btm $space-goal-inner-LR-mobile;
                }
            }
        }
    }
}
@media screen and(max-width: $screen-sm-than-pad){
    .tab-item-block{
        display: block;
        padding-top: $tab-gapTop;
    }
}


