@import 'style-import';

//left wd
$wd-right: 45%;

.goal-agency-info-content{
    padding: 25px 20px;
    &.bg-AGpage{
        background-color: $color-white;
        border-radius: $radius-card;
        box-shadow: $color-shadow-card;
    }
    .goal-info-info{
        .goal-info-left{
            .goal-info-ul-item{
                display: flex;
            }
            .goal-info-li-item{
                flex: 0 0 calc(50% - 8px);
                vertical-align: bottom;
                &+.goal-info-li-item{
                    margin-left: 15px;
                }
            }
        }
        .goal-info-right{
            display: flex;
            .goal-info-li-item{
                &+.goal-info-li-item{
                    margin-top: 4px;
                }
            }
        }  
        // detail subtitle text 
        .sub-text{
            text-align: right;
            padding-bottom: 26px;
        }
    }            
    .goal-info-info:not(.goal-info-btm){
        .goal-info-right{
            flex-flow: column;
            justify-content: space-between;
        }
        &::after{
            content: '';
            display: block;
            height: 1px;
            width: 95%;
            margin-left: 5%;
            background-color: $color-grey7;
            margin-top: 25px; 
        }  
    }
}
@media screen and (max-width: $screen-sm-than-nb){
    .goal-agency-info-content{
        .goal-info-info{
            // detail subtitle text 
            .sub-text{
                text-align: left;
                padding-bottom: $space-ui-title-btm;
            }
        }
        .goal-info-info:not(.goal-info-btm){
            &::after{
                width: 100%;
                margin-left: 0;
            }
        }
    }
} 