@import 'style-import';

@import '../../style/goal-collapse-table'; // style of collapse-table
@import '../../style/goal-info'; // style of info-alert-block
:host{
  font-size: 0;
  display: block;
  .agency-layout-block{
    max-width: 100vw;
  }

  .goal-agency-plan-tab-block{
    margin-top: $space-ui-element*2;
  }
  
  .goal-content-space{
    display: block;
    margin-bottom: $space-ui-version;
  }


  //入侵
  ::ng-deep{
    //popup阻止左右滑動
    app-ui-modal-style-text1{
        .modal-content-block{
            overflow-x: hidden;
        }
    }
    // for 藍天refresh會消失的mantis
    app-ui-inner-page{
      .ui-inner-page-header{
        position: fixed;
        top: 0;
      }
      .ui-inner-page-content{
          margin-top: 74px;
          margin-left: 0;  // for mantis 0016641
          margin-right: 0; // for mantis 0016641
          pointer-events: none;
        .layout-block{
          position: static;
          background-color: $color-bg;
          margin: 0 130px;
          pointer-events: auto;
          @media screen and(max-width: $screen-sm-than-nb){
            margin: 0 5px;
          }
        }
        [global-main]{
          pointer-events: auto;
        }
      }
    }
    app-ui-infinite-scroll{
      .infiniti-scroll{
        overflow: visible;
      }
      @media(max-width: $screen-sm-than-pad){
        .infiniti-scroll{
          overflow-x: hidden;
          > .refresh-content{
            > .scroll-content{
              overflow-x: hidden;  // for info popup cannot scroll left right
            }
          }
        }
        
      }
    }
  }
}  // end of agency-layout-block



  
