
  <app-ui-inner-page class="agency-layout-block" [title]="language.agencyPlan | translate">
    <div main>
        <app-ui-infinite-scroll [syncFunction]="['GOAL']" (refreshCallback)="onRefresh($event)" [(refreshFinish)]="isRefreshFinishContent"
        [lazyLoading]="false" [translateText]="language.loading | translate">
          <div #inpageMain class="layout-block">
            <snd-goal-agency-plan-overview [tableStyle]="TABLETIELE_STYLE_4" [dataObjectList]="mainDataList">
            </snd-goal-agency-plan-overview>

            <!-- tab -->
            <div class="goal-agency-plan-tab-block">
              <app-ui-content-b-gap [gapSize]="GAP_SIZE_20">
                <app-ui-tab-style1 class="self-tab" tabInfo (onTabChildClick)="onTabChange($event)">
                  <!--[maxShow] 控制一次最多顯示幾個tab 預設4個-->
                  <app-ui-tab-child>{{language.FYFC | translate}}</app-ui-tab-child>
                  <app-ui-tab-child>{{language.ANP | translate}}</app-ui-tab-child>
                </app-ui-tab-style1>
              </app-ui-content-b-gap>
            </div>
            <!-- end of tab -->

            <!--[New]table grey title collapse-->
            <!-- direct FYFC -->
            <app-ui-card-content-btn class="table-goal-agency goal-content-space" [noPadding]="true" *ngIf="selectTab == 0">
              <ng-container infoContent>
                <div class="child-content">
                  <snd-goal-agency-plan-agent-unit class="goal-agency-table-direct" [(isShowTableVerticalView)]="isShowTableVerticalViewDirect"
                    [titleText]="language.directUnit | translate" [agentList]="directAgentFYFCList"
                    [manpower]="directObject" [tableHeadData]="directUnitFYFCTitleList" [keyList]="directUnitFYFCKey"
                    (agencyClick)="onAgencyClick($event)" (onClickInfo)="clickAgenInfo()">
                  </snd-goal-agency-plan-agent-unit>
                </div>
              </ng-container>
            </app-ui-card-content-btn>
            <!-- end of direct FYFC -->

            <!-- [New] Table Edit -->
            <app-ui-card-content-btn [noPadding]="true" class="goal-content-space" *ngIf="selectTab == 0">
              <ng-container infoContent>
                <snd-goal-agency-plan-personal-monthly [styleType]="TABLETIELE_STYLE_6" (onClickEdit)="onClickEdit()"
                  [recruitmentData]="exceptedRecruitment"></snd-goal-agency-plan-personal-monthly>
              </ng-container>
            </app-ui-card-content-btn>
            <!-- end of [New] Table Edit -->

            <!--[New]table grey title collapse-->
            <!-- indirect FYFC -->
            <app-ui-card-content-btn class="table-goal-agency goal-content-space" [noPadding]="true"
              *ngIf="selectTab == 0 && indirectAgentFYFCList.length > 0">
              <ng-container infoContent>
                <div class="child-content">
                  <snd-goal-agency-plan-agent-unit class="goal-agency-table-indirect" [(isShowTableVerticalView)]="isShowTableVerticalViewIndirect"
                    [titleText]="language.indirectUnit | translate" [agentList]="indirectAgentFYFCList"
                    [manpower]="indirectObject" [tableHeadData]="indirectUnitFYFCTitleList" [keyList]="indirectUnitKey"
                    (agencyClick)="onAgencyClick($event)" (onClickInfo)="clickAgenInfo()">
                  </snd-goal-agency-plan-agent-unit>
                </div>
              </ng-container>
            </app-ui-card-content-btn>
            <!-- end of indirect FYFC -->

            <!--[New]table grey title collapse-->
            <!-- direct ANP -->
            <app-ui-card-content-btn class="table-goal-agency goal-content-space" [noPadding]="true" *ngIf="selectTab == 1">
              <ng-container infoContent>
                <div class="child-content">
                  <snd-goal-agency-plan-agent-unit [(isShowTableVerticalView)]="isShowTableVerticalViewDirect"
                    [titleText]="language.directUnit | translate" [agentList]="directAgentANPList" [manpower]="directObject"
                    [tableHeadData]="directUnitANPTitleList" [keyList]="directUnitANPKey"
                    (agencyClick)="onAgencyClick($event)" (onClickInfo)="clickAgenInfo()">
                  </snd-goal-agency-plan-agent-unit>
                </div>
              </ng-container>
            </app-ui-card-content-btn>
            <!-- end of direct ANP -->

            <!-- [New] Table Edit -->
            <app-ui-card-content-btn [noPadding]="true" class="goal-content-space" *ngIf="selectTab == 1">
              <ng-container infoContent *ngIf="exceptedRecruitment">
                <snd-goal-agency-plan-personal-monthly [styleType]="TABLETIELE_STYLE_6" (onClickEdit)="onClickEdit()"
                  [recruitmentData]="exceptedRecruitment"></snd-goal-agency-plan-personal-monthly>
              </ng-container>
            </app-ui-card-content-btn>
            <!-- end of [New] Table Edit -->

            <!--[New]table grey title collapse-->
            <!-- indirect ANP -->
            <app-ui-card-content-btn class="table-goal-agency goal-content-space" [noPadding]="true"
              *ngIf="selectTab == 1 && indirectAgentANPList.length > 0">
              <ng-container infoContent>
                <div class="child-content">
                  <snd-goal-agency-plan-agent-unit [(isShowTableVerticalView)]="isShowTableVerticalViewIndirect"
                    [titleText]="language.indirectUnit | translate" [agentList]="indirectAgentANPList"
                    [manpower]="indirectObject" [tableHeadData]="indirectUnitANPTitleList" [keyList]="indirectUnitKey"
                    (agencyClick)="onAgencyClick($event)" (onClickInfo)="clickAgenInfo()">
                  </snd-goal-agency-plan-agent-unit>
                </div>
              </ng-container>
            </app-ui-card-content-btn>
            <!-- indirect ANP -->

            <!-- btn -->
            <!-- <div class="goal-btn-block">
              <app-ui-btn-layout>
                <app-ui-btn [btnHeight]="'sm'" [id]="'btn_agencySaveFile'" Action action="agencySaveFile" (actionClick)="onSaveFile()">
                  <ng-container TextType="cust">{{language.saveFile | translate}}</ng-container>
                </app-ui-btn>
              </app-ui-btn-layout>
            </div> -->
            <!-- end of btn -->
          </div>
        </app-ui-infinite-scroll>
    </div>
    <div global-main>
      <!-- info popup agency plan -->
      <app-ui-modal-style-img-base class="wd-sm" [isHasBtmBlock]="false" [typeBtn]="'style3'" [(isPopupOpen)]="isPopupOpenAgencyPlanUnitInfo">
          <ng-container textType="modal-img-detail">
            <nx-icon class="icon-i" name="info-circle" fill="false" outline="false" size="auto"></nx-icon>
          </ng-container>
          <ng-container textType="modal-title-detail">Information</ng-container>
          <ng-container textType="modal-content-detail">
            <div class="info-agency">
                <div class="info-content">
                    <div class="subtitle">
                      <p>Yellow</p>
                    </div>
                    <div class="detail-text">
                      <p>The adjusted goal sent by this AG is waiting for approval. You can click on the agent column to approve page.</p>
                    </div>
                  </div>
            </div> 
          </ng-container>
      </app-ui-modal-style-img-base>
      <!-- end of info popup agency plan -->
      <!--end: Edit Recruitment -->
      <app-ui-modal-style-text1 [(isPopupOpen)]="isPopupEditRecruitment" [isMobileBtmBtnFix]="false" [isHasBtmBlock]="false"
        class="wd-md goal-popup-edit">
        <ng-container textType="modal-title-detail">{{language.recruitmentCommitment | translate}}</ng-container>
        <ng-container textType="modal-content-detail">
          <snd-goal-agency-plan-recruitment-popup [recruitmentObject]="exceptedRecruitment"
            [isPopupOpen]="isPopupEditRecruitment" (saveEvent)="onSaveRecruitment($event)">
          </snd-goal-agency-plan-recruitment-popup>
        </ng-container>
      </app-ui-modal-style-text1>
    </div>

  </app-ui-inner-page>

<!--  save-->
<app-ui-modal-style-feedback [(isPopupOpen)]="isDisplaySavePopup">
  <ng-container textType="modal-img-detail">
    <nx-icon name='check' size='auto'></nx-icon>
  </ng-container>
  <ng-container textType="modal-content-detail">{{language.saved |translate }}</ng-container>
</app-ui-modal-style-feedback>
<!-- end of save -->