@import 'style-import';

@import '../../style/goal-agency-card.standard'; // left & right card standard style

:host{

    // 清單卡下列小字desc
    .info-other{
        .font-size-h9{
            font-size: $font-size-h9;
            color: $color-grey1;
            text-align: left;
        }
    }
    .list-cards-li{
        height: 100%;
        ::ng-deep{
            app-ui-card-content-btn{
                .card-content-btn{
                    height: 100%;
                }
            }
        }
    }
}

