@import 'style-import';
:host{
    .goal-edit-info{
        margin-bottom: $space-ui-element;
        .goal-edit-info-item{
            display: flex;
            justify-content: space-between;
            padding: 0 50px;
            .title-txt{
                font-size: $font-size-h9;
                font-weight: normal;
            }
            .desc-txt{
                font-size: $font-size-h8;
                font-weight: bold;
            }
        }

    }
    @media screen and(max-width: $screen-sm-than-nb){
        .goal-edit-info{
            .goal-edit-info-item{
                padding: 0;
            }
        }
    }
}