@import 'style-import';

$wd-left: 50.7%; // left wd
$height-top-pad: 62vh;
// layout of landing page
.layout-spilt{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    .layout-left-part{
        position: relative;
        @include color-gradient-main-v();
        display: flex;
        max-width: $wd-left;
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
        &:after{
            content: '';
            display: inline-block;
            position: absolute;
            @include triangle90LeftTop(20vw, 100vh, $color-bg, transparent);
            top: 0;
            right: 0;
    
        }
        .detail-block{
            z-index: 2;
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding-left: 14.5%;
            top: 22.5%;
            text-align: left;
        }
    }
    .layout-right-part{
        background-color: $color-bg;
        max-width: calc(100% - #{$wd-left});
        width: 100%;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    @media(max-width: $screen-sm-than-nb){
        .layout-left-part{
            max-width: 100%;
            height: $height-top-pad;
            &:after{
                top: auto;
                right: 0;
                bottom: 0;
                border-width: 0 0 20vh 100vw;
            }

        }
        .layout-right-part{
            max-width: 100%;
            height: calc(100vh - #{$height-top-pad});
            
        }
    }

    @media(max-width: $screen-sm-than-pad){
        .layout-left-part{
            .detail-block{
                padding-left: 30px;
                padding-right: 30px;
                left: 0;
                right: 0;
                margin: 0 auto;
                top: 80px;
            }

        }

    }

    @media(max-width: $screen-sm-than-mobile){
        .layout-left-part{
            .detail-block{
                padding-left: 20px;
                padding-right: 20px;
                top: 60px;
            }

        }

    }
    

}

// detail style
// .title-main{
//     @include get-font-size(font-size-h2); 
// }
.title-block{
    .title-main{
        padding: 0;
        margin: 0;
        font-size: $font-size-h2;
        color: $color-white;
        font-weight: bold;
        line-height: normal;
    }
    .title-sub{
        //font-size: $font-size-h5;
        color: $color-white;
        font-weight: normal;
        line-height: normal;
        margin-top: $space-ui-element;
    }
}
.content-block{
    margin-top: 25%;
    
    .content-text{
        padding-top: 0;
        margin: 0;
        font-size: $font-size-h6;
        line-height: normal;
        color: $color-white;
        font-weight: bold;
        margin-bottom: 30px;
        padding: 0;
    }
    ::ng-deep{
        .btn-block{
            text-align: left;
        }
    }
}
.img-block{
    max-width: 551px;
    width: 100%;
    position: relative;
    margin-left: -10vw;

}

@media(max-width: $screen-sm-than-nb){
    .img-block{
        margin: 0 auto;
        margin-top: -16%;
        max-width: 265px;
        width: 100%;

    }
    .content-block{
        margin-top: 70px;
    }
    
}
@media(max-width: $screen-sm-than-pad){
    
    
}

@media(max-width: $screen-sm-than-mobile){
    .img-block{
        margin-top: 0;

    }
    .content-block{
        margin-top: 15%;
    }

}