@import 'style-import';
@import '../../style/goal-title-content'; // style of rocket title ft. blue-background-area
@import '../../style/goal-textarea-content'; // style of comment-area
@import '../../style/goal-info'; // style of info-alert-block

:host{
    //最外層
    font-size: 0;
    display: block;
    .agency-layout-block{ 

        // 待討論：區塊間距
        .goal-element-space{
            display: block;
            margin-bottom: $space-ui-element*2;
        }    
        
        //要ng-deep其他元件樣式
        ::ng-deep {
            .list-cards-ul{
                display: flex;
                //TODO..背景色抽乾淨
                snd-goal-agency-left-card,
                snd-goal-agency-right-card{
                    .list-cards-li{
                        app-ui-card-content-btn{
                            .card-content-btn{
                                background-color: transparent;
                                box-shadow: none;
                            }
                        }
                    }
                }
            }
            app-ui-table-title{
                .style-5.table-title{
                    .title-content{
                        margin-bottom: 0;
                    }

                }
            }
            snd-goal-overview-goal-fyfc-card{
                .goal-overview-goal-fyfc-card{ //需討論是否要一致
                    margin-top: 0;
                }
                snd-goal-ui-data-card1{
                    .goal-agency-info-content{ 
                        padding: 0;   //需討論：邊距的客制方式
                        .goal-info-info:not(.goal-info-btm)::after{
                            background-color: $color-grey5;
                        }
                        .goal-info-title{
                            display: none;
                        }
    
                    }
                }   
            }
    
        }


    }  // end of agency-layout-block


    // 小版
    @media screen and(max-width: $screen-sm-than-nb){
        .agency-layout-block{ 
            .goal-list-card{
                padding: 0 10px;
            }
            .list-cards-ul{
                display: block;
            }

            //要ng-deep其他元件樣式
            ::ng-deep{
                snd-goal-overview-goal-fyfc-card{
                    snd-goal-ui-data-card1{
                        .goal-agency-info-content{ //間距問題
                            padding: 0 10px;
        
                        }
                    }   
                }
            }
        }
    }
}

