@import 'style-import';
.progress-detail-info-content{
    &.personal-progresslist-info{
        min-width: 320px;
        @media(max-width: $screen-sm-than-mobile){
            min-width: 260px;
        }
        .detail-title-content{
            @include informationTitle('.info-title-main');
            
        }
        .detail-info-subtitle{
            padding-bottom: 15px;
            .title-text{
                font-size: $font-size-h9;
                font-weight: bold;
                line-height: 2;
                letter-spacing: 0.5px;
                margin-left: 10px;
    
            }
        }
        .detail-info-info{
            .detail-info-title{
                display: flex;
                align-items: center;
                margin-bottom: 5px;
                .title-num{
                    display: inline-block;
                    vertical-align: middle;
                    .icon{
                        margin-left: 2px;
                        display: inline-block;
                        vertical-align: middle;
                        position: relative;
                        height: 45px;
                        +.value{
                            margin-left: 10px;
                        }
                        &:before{
                          content: '';
                          display: inline-block;
                          position: absolute;
                          top: 0;
                          height: 100%;
                          background-color: $color-main2;
                          width: 2px;
                        }
                        &:after{
                            position: absolute;
                            left: -2px;
                            bottom: 0;
                            margin: 0 auto;
                            content: ' ';
                            border: solid $color-main2;
                            border-width: 0 2px 2px 0;
                            display: inline-block;
                            padding: 2px;
                            transform: rotate(45deg);
                            -webkit-transform: rotate(45deg);
                        }
    
                    }
                    .value{
                        display: inline-block;
                        vertical-align: middle;
                        font-size: $font-size-h10;
                        font-weight: bold;
                        line-height: normal;
                        letter-spacing: 0.7px;
                        color: $color-grey3;
                        transform:translateY(-5px);
                    }
                    +.title-text{
                        margin-left: 10px;
                    }
                }
                .title-text{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: $font-size-h9;
                    font-weight: bold;
                    line-height: 2.33;
                    margin-left: 10px;
                }
            }
            .detail-info-text{
                font-size: $font-size-h10;
                font-weight: normal;
                line-height: 2;
            }
        }

    } // end of personal
} // end of progress detail 