@import 'style-import';
.dot-mark{
    .mark-ul{
        font-size: 0;
    }
    .mark-li{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: $color-grey7;
        font-size: 0;
        .dot-mark-dot-text{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0px;
            color: $color-grey5;
        }
        &+.mark-li{
            margin-left: 5px;
        }
        &.active{
            background-color: $color-error;
            .dot-mark-dot-text{
                color: $color-white;
            }
        }
    }
}