@import 'style-import';
//tab
[class*="tab-content_"]{
    opacity: 0;
    transition: 0s;
    position: absolute;
    z-index: -1;
    transform-origin: top;
    &:not(.active) *{
        display: none;
    }
    &.active{
        position: relative;
        opacity: 1;
        z-index: 1;
        transition: 0.2s;
        display: flex;
        flex-wrap: wrap;
    }
}