@import 'style-import';
:host{
    ::ng-deep{
        .ui-page-content{
            &.light{
                // card 
                .card-block{
                    .card-title-block{
                        .card-title{
                            color: $color-main1;
        
                        }
                    }
                }
                //other component
                ::ng-deep{
                    // btn
                    // .btn-color-full-main2{
                    //     background-color: $color-main1;
                    // }
                    //stepper
                    .stepper2-contnet.step-style-1{
                        app-ui-progress-stepper-style-child.actived{
                            .step-icon, .stepper2-contnet.step-style-1{
                                app-ui-progress-stepper-style-child.active{
                                    .step-icon{
                                        background-color:$color-main1;
                                        border-color: $color-main1;
                                    }
                                }
                            }
                        }
                    }
                }
        
            }
        } //end of ui-page-content
        

    }//end of ::ng-deep
}//end of :host
