@import 'style-import';


// title and img block
// style of layout(agent & leader both)

$img-wd: 283px;
$img-wd-pad: 154px; 
$img-wd-mobile: 58px; 
:host{
    ::ng-deep{
        .modal-content-block {
            .txt {
            font-size: $font-size-h8;
            font-weight: normal;
            line-height: 1.5;
            letter-spacing: normal;
            color: $color-grey1;
            } // end .txt
        }
    }
}

.layout-title{
    .title-block{
        text-align: left;
        display: block;
        .title-main{
            font-size: $font-size-h5;
            color: $color-white;
            font-weight: bold;
        }
        .title-sub{
            font-size: $font-size-h9;
            color: $color-white;
            font-weight: normal;
            margin-top: 5px;
        }
    }
    .img-block{
        margin-top: 27px;
        text-align: left;
        max-width: 283px;
        img{
            width: 100%;
            max-width: 100%;
            margin: 0 auto;
        }
    }
}
.layout-main-content{
    height: 100%;
    padding-bottom: $space-widnow-btm;
    overflow-x: hidden;
    overflow-y: auto
}

@media(max-width: $screen-sm-than-nb){
    .layout-title{
        display: flex;
        padding: 0 20px;
        box-sizing: border-box;
        .title-block{
            width: calc(100% - #{$img-wd-pad});
            padding-right: 37px;
            
        }
        .img-block{
            width: $img-wd-pad;
            display: inline-block;
            margin-top: 0;
        }
    }
}


@media(max-width: $screen-sm-than-pad){
    .layout-title{
        display: block;
        position: relative;
        .title-block{
            width: 100%;
            padding-right: 0;
            .title-main{
                padding-right: 98px;
            }
        }
        .img-block{
            max-width: $img-wd-mobile;
            display: inline-block;
            margin-top: 0;
            position: absolute;
            top: 0;
            right: 20px;
        }
    }
}

@media(max-width: $screen-sm-than-mobile){
    .title-block{
        .title-main{
            padding-right: 68px;
        }
    }
}