@import 'style-import';
// dev block
.dev-block{
    position: fixed;
    bottom: 0;
    background-color: grey;
    left: 0;
    p{
        font-size: $font-size-h9;
        padding: 0;
        margin: 0;
        color: $color-white;
        padding: 5px;
    }
    @media(max-width:$screen-sm-than-nb){
        p{
            padding: 5px 5px 83px 5px;
        }
    }
}


// end of tmp block