@import 'style-import';

//completionRate area

.card-chart{
    display: flex;
    align-items: center;
    .chart-text{
        font-size: $font-size-h10;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 2.33;
        letter-spacing: $letter-space-normal;
        color: $color-grey3;
        margin-right: 5px;
    }
    ::ng-deep app-ui-progress-circle{
        .chart-percent{
            font-size: $font-size-h10;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.33;
            letter-spacing: $letter-space-normal;
            text-align: center;
            color: $color-main2;
        }
    }
}