<div class="list-cards-li">
  <app-ui-card-content-btn [noPadding]="true">
    <ng-container infoContent>
      <app-goal-ui-title-list [title]="title" [listItem]="titleListItems"
        [listItemTextIsRed]="listItemTextIsRed">
        <div other *ngIf="isShowBtnArea">
          <div class="card-btn-content">
            <app-ui-btn-layout>
              <app-ui-btn [btnHeight]="'sm'" [id]="'btn_agencySeeDetails'" Action action="agencySeeDetails" (actionClick)="onClickBtn('agencyPlan')">
                <ng-container TextType="cust">{{language.seeDetails | translate}}</ng-container>
              </app-ui-btn>
              <app-ui-btn class="btn-color-main card-link" [btnStyle]="'text'" [btnColor]="'main2'" [btnHeight]="'sm'"
                [id]="'btn_agencyProceed'" Action action="agencyProceed" (actionClick)="onClickBtn('progress')">
                <ng-container TextType="cust">{{language.proceedToProgress | translate}}</ng-container>
              </app-ui-btn>
            </app-ui-btn-layout>
          </div>
        </div>
      </app-goal-ui-title-list>
    </ng-container>
  </app-ui-card-content-btn>
</div>