

@import 'style-import';

.goal-list-card{
    .list-cards-ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;


        ::ng-deep{  // 待討論：間距問題
            snd-goal-agency-left-card , snd-goal-agency-right-card{
                .card-content-btn{
                    padding: 20px;
                }
            }
        }
    }
}



